* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: 0;
}

.menuPics {
  width: 25px;
}
@media (max-width: 600px) {
  .menuPics {
    width: 40px;
  }
}

#goingDown, #goingUp {
  display: flex;
  flex-direction: row-reverse;
  width: 98%;
}

#downArrow, #upArrow {
  width: 25px;
}
@media (max-width: 600px) {
  #downArrow, #upArrow {
    margin-top: 5px;
    width: 35px;
  }
}

#header {
  text-align: center;
  border: solid 5px #d5b890;
  border-radius: 20px;
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  #header {
    border: solid 5px #783818;
  }
}
@media (max-width: 1200px) {
  #header {
    border: solid 5px #08cccc;
  }
}

#h1Header {
  font-family: "Charm", cursive;
  color: #08cccc;
  font-size: 45px;
  margin: 15px;
}
@media (max-width: 600px) {
  #h1Header {
    margin: 0;
    margin-top: 10px;
    color: #d5b890;
  }
}
@media (max-width: 1200px) {
  #h1Header {
    color: #783818;
  }
}

#h2Header {
  font-family: "Yeseva One", cursive;
  color: #08cccc;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 0;
}
@media (max-width: 1200px) {
  #h2Header {
    color: #783818;
  }
}
@media (max-width: 600px) {
  #h2Header {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #d5b890;
    font-size: 23px;
  }
}

#footer {
  margin-top: 5px;
  text-align: center;
  border: solid 5px #d5b890;
  border-radius: 20px;
}
@media (max-width: 600px) {
  #footer {
    border: solid 5px #783818;
  }
}
@media (max-width: 1200px) {
  #footer {
    border: solid 5px #08cccc;
  }
}

.footerTitle {
  font-family: "Charm", cursive;
  color: #08cccc;
  font-size: 30px;
  margin: 15px;
}
@media (max-width: 600px) {
  .footerTitle {
    color: #d5b890;
  }
}
@media (max-width: 1200px) {
  .footerTitle {
    color: #783818;
  }
}

#footerList {
  list-style: none;
  margin-top: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footerLogos {
  width: 30px;
}

.menuNavBar {
  height: 10rem;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 600px) {
  .menuNavBar {
    height: 26.5rem;
  }
}

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
}
@media (max-width: 600px) {
  .navBar {
    width: 95%;
    justify-content: center;
  }
}

#menu {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  flex-wrap: nowrap;
}
@media (max-width: 600px) {
  #menu {
    flex-direction: column;
    width: 100%;
  }
}

.menuBubble {
  border: dotted 4px #783818;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;
}
@media (max-width: 600px) {
  .menuBubble {
    border: dotted 2px #d5b890;
  }
}
@media (max-width: 1200px) {
  .menuBubble {
    border: dotted 2px #d5b890;
  }
}

.menuBubble:hover,
.menuMiniBubble:hover {
  border: dotted 4px #08cccc;
  cursor: pointer;
  transform: scale(1.1);
}
@media (max-width: 600px) {
  .menuBubble:hover,
.menuMiniBubble:hover {
    border: dotted 2px #08cccc;
  }
}
@media (max-width: 1200px) {
  .menuBubble:hover,
.menuMiniBubble:hover {
    border: dotted 2px #08cccc;
  }
}

.menuMiniBubble {
  border: dotted 4px #d5b890;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 20px;
}
@media (max-width: 600px) {
  .menuMiniBubble {
    border: dotted 2px #783818;
  }
}
@media (max-width: 1200px) {
  .menuMiniBubble {
    border: dotted 2px #783818;
  }
}

.menuLiens {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.menuDetails {
  text-align: center;
  margin: 0;
  font-family: "Merienda One", cursive;
  color: black;
}

.menuParts {
  margin-right: 15px;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  .menuParts {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-right: 0;
  }
}

.introductionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#introduction {
  border: dotted 4px #08cccc;
  border-radius: 20px 0 20px 0;
  width: 70%;
  margin-left: 0;
  text-align: center;
  margin-bottom: 20px;
  padding: 15px;
}
@media (max-width: 600px) {
  #introduction {
    width: 95%;
    border: dotted 2px #783818;
  }
}
@media (max-width: 1200px) {
  #introduction {
    border: dotted 2px #d5b890;
  }
}

#introTitle {
  margin: 0;
  font-family: "Merienda One", cursive;
  font-size: 30px;
}

#talk {
  font-family: "Merienda One", cursive;
}
@media (max-width: 600px) {
  #talk {
    font-size: 17px;
  }
}

.mySkillsSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
@media (max-width: 600px) {
  .mySkillsSection {
    flex-direction: column;
  }
}

#hardSkills {
  border: dotted 4px #783818;
  border-radius: 20px 0 20px 0;
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 600px) {
  #hardSkills {
    border: dotted 2px #d5b890;
    margin-bottom: 20px;
    width: 95%;
  }
}
@media (max-width: 1200px) {
  #hardSkills {
    border: dotted 2px #08cccc;
  }
}

#mySkills {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 600px) {
  #mySkills {
    flex-direction: column;
  }
}

#hardSkillsTitle,
#softSkillsTitle {
  font-size: 30px;
  margin: 0;
  text-align: center;
  font-family: "Merienda One", cursive;
}
@media (max-width: 600px) {
  #hardSkillsTitle,
#softSkillsTitle {
    font-size: 25px;
  }
}

.titlesh4 {
  margin-bottom: 9px;
  font-family: "Charm", cursive;
  font-size: 23px;
  margin-top: 0px;
}
@media (max-width: 600px) {
  .titlesh4 {
    font-size: 30px;
  }
}

#softSkills {
  border: dotted 4px #d5b890;
  border-radius: 20px 0 20px 0;
  width: 25%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 600px) {
  #softSkills {
    border: dotted 2px #08cccc;
    width: 95%;
    padding: 5px;
    margin-bottom: 20px;
  }
}
@media (max-width: 1200px) {
  #softSkills {
    border: dotted 2px #783818;
  }
}

.listMyHardSkills {
  margin: 0;
  font-family: "Merienda One", cursive;
  color: black;
  list-style: none;
  padding: 0;
  font-size: 15px;
}
@media (max-width: 600px) {
  .listMyHardSkills {
    font-size: 20px;
  }
}

.listMySoftSkills {
  margin: 10px;
  font-family: "Merienda One", cursive;
  color: black;
  list-style: none;
  padding: 0;
  font-size: 15px;
}
@media (max-width: 600px) {
  .listMySoftSkills {
    margin: 5px;
    font-size: 20px;
  }
}

#myProjectsSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 100%;
}
@media (max-width: 600px) {
  #myProjectsSection {
    margin-top: 0;
  }
}

#myProjects {
  border: dotted 4px #d5b890;
  border-radius: 20px 0 20px 0;
  padding: 10px;
  width: 95%;
}
@media (max-width: 600px) {
  #myProjects {
    border: dotted 2px #783818;
  }
}
@media (max-width: 1200px) {
  #myProjects {
    border: dotted 2px #08cccc;
  }
}

#projectBigTitle,
#careerBigTitle,
#interestsBigTitle,
#languagesBigTitle {
  font-family: "Merienda One", cursive;
  font-size: 30px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  #projectBigTitle,
#careerBigTitle,
#interestsBigTitle,
#languagesBigTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
  }
}

.explications {
  font-family: "Merienda One", cursive;
  margin: 0;
  font-size: 14px;
}
@media (max-width: 600px) {
  .explications {
    font-size: 20px;
  }
}

.projectsCards1,
.projectsCards3,
.projectsCards5 {
  border: dotted 4px #783818;
  border-radius: 20px 0 20px 0;
  display: flex;
  flex-direction: row;
  background-color: #eee1d063;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}
@media (max-width: 600px) {
  .projectsCards1,
.projectsCards3,
.projectsCards5 {
    border: dotted 2px #08cccc;
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .projectsCards1,
.projectsCards3,
.projectsCards5 {
    border: dotted 2px #d5b890;
  }
}

.projectsCards2,
.projectsCards4,
.projectsCards6 {
  border: dotted 4px #d5b890;
  border-radius: 20px 0 20px 0;
  display: flex;
  flex-direction: row;
  background-color: #eee1d063;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
}
@media (max-width: 600px) {
  .projectsCards2,
.projectsCards4,
.projectsCards6 {
    border: dotted 2px #08cccc;
    flex-direction: column;
  }
}
@media (max-width: 1200px) {
  .projectsCards2,
.projectsCards4,
.projectsCards6 {
    border: dotted 2px #783818;
  }
}

.infosProjectCard1,
.infosProjectCard2,
.infosProjectCard3,
.infosProjectCard4,
.infosProjectCard5,
.infosProjectCard6 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projectTitle1,
.projectTitle2,
.projectTitle3,
.projectTitle4,
.projectTitle5,
.projectTitle6 {
  text-align: center;
  font-size: 25px;
  margin: 0;
  font-family: "Charm", cursive;
}
@media (max-width: 600px) {
  .projectTitle1,
.projectTitle2,
.projectTitle3,
.projectTitle4,
.projectTitle5,
.projectTitle6 {
    font-size: 30px;
  }
}

.projectInfos1,
.projectInfos2,
.projectInfos3,
.projectInfos4,
.projectInfos5,
.projectInfos6 {
  font-family: "Merienda One", cursive;
  font-size: 14px;
  color: black;
}
@media (max-width: 600px) {
  .projectInfos1,
.projectInfos2,
.projectInfos3,
.projectInfos4,
.projectInfos5,
.projectInfos6 {
    font-size: 20px;
  }
}

.imgProjectCard1,
.imgProjectCard2,
.imgProjectCard3,
.imgProjectCard4,
.imgProjectCard5,
.imgProjectCard6 {
  border: dotted 4px #08cccc;
  border-radius: 20px 0 20px 0;
  padding: 1px;
  width: 100%;
}
@media (max-width: 600px) {
  .imgProjectCard1,
.imgProjectCard2,
.imgProjectCard3,
.imgProjectCard4,
.imgProjectCard5,
.imgProjectCard6 {
    border: dotted 2px #08cccc;
  }
}
@media (max-width: 1200px) {
  .imgProjectCard1,
.imgProjectCard2,
.imgProjectCard3,
.imgProjectCard4,
.imgProjectCard5,
.imgProjectCard6 {
    border: dotted 2px #08cccc;
  }
}

.imgProject1,
.imgProject2,
.imgProject3,
.imgProject4,
.imgProject5,
.imgProject6 {
  width: 100%;
  border-radius: 20px 0 20px 0;
}

.imgProject1:hover,
.imgProject3:hover,
.imgProject5:hover {
  transform: scale(1.4) translate(-20%, 0%);
  border: dotted 4px #d5b890;
}
@media (max-width: 1200px) {
  .imgProject1:hover,
.imgProject3:hover,
.imgProject5:hover {
    transform: scale(1.5) translate(-34%, 7%);
    border: dotted 2px #d5b890;
    width: 110%;
  }
}
@media (max-width: 600px) {
  .imgProject1:hover,
.imgProject3:hover,
.imgProject5:hover {
    transform: scale(1.1) translate(0%, 7%);
    border: dotted 2px #783818;
    width: 100%;
    height: 200px;
  }
}

.imgProject2:hover,
.imgProject4:hover,
.imgProject6:hover {
  transform: scale(1.4) translate(-20%, 0%);
  border: dotted 4px #783818;
}
@media (max-width: 1200px) {
  .imgProject2:hover,
.imgProject4:hover,
.imgProject6:hover {
    transform: scale(1.5) translate(-34%, 7%);
    border: dotted 2px #783818;
    width: 110%;
  }
}
@media (max-width: 600px) {
  .imgProject2:hover,
.imgProject4:hover,
.imgProject6:hover {
    transform: scale(1.1) translate(0%, 7%);
    border: dotted 2px #783818;
    width: 100%;
    height: 200px;
  }
}

.infosImg {
  text-align: center;
  font-family: "Merienda One", cursive;
}
@media (max-width: 600px) {
  .infosImg {
    font-size: 18px;
  }
}

#laChouetteAgenceBefore {
  color: #783818;
  font-family: "Merienda One", cursive;
  font-size: 14px;
}
@media (max-width: 600px) {
  #laChouetteAgenceBefore {
    font-size: 19px;
    margin-bottom: 10px;
  }
}

.bigSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (max-width: 600px) {
  .bigSection {
    flex-direction: column;
    align-items: center;
  }
}

.smallSection {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .smallSection {
    margin: 20px;
  }
}
@media (max-width: 600px) {
  .smallSection {
    align-items: center;
  }
}

#myCareerSection {
  margin-top: 20px;
  border: dotted 4px #08cccc;
  border-radius: 20px 0 20px 0;
  padding: 10px;
  width: 50%;
}
@media (max-width: 1200px) {
  #myCareerSection {
    margin: 20px;
    border: dotted 2px #783818;
  }
}
@media (max-width: 600px) {
  #myCareerSection {
    width: 95%;
    border: dotted 2px #d5b890;
  }
}

#myCareer {
  display: flex;
  flex-direction: column;
}

.careerSmallTitle {
  margin: 0;
  font-family: "Charm", cursive;
  font-size: 25px;
  color: #783818;
  border: dotted 4px #d5b890;
  border-radius: 20px 0 20px 0;
  padding: 3px;
}
@media (max-width: 600px) {
  .careerSmallTitle {
    border: dotted 2px #08cccc;
  }
}
@media (max-width: 1200px) {
  .careerSmallTitle {
    border: dotted 2px #08cccc;
  }
}

.careerInfos {
  font-family: "Merienda One", cursive;
  font-size: 15px;
}
@media (max-width: 600px) {
  .careerInfos {
    font-size: 20px;
  }
}

#myInterestsSection {
  margin-top: 20px;
  border: dotted 4px #783818;
  border-radius: 20px 0 20px 0;
  width: 100%;
  padding: 10px;
}
@media (max-width: 1200px) {
  #myInterestsSection {
    margin-top: 0;
    border: dotted 2px #08cccc;
  }
}
@media (max-width: 600px) {
  #myInterestsSection {
    width: 95%;
    border: dotted 2px #d5b890;
  }
}

.interests {
  margin: 0;
  font-family: "Merienda One", cursive;
  list-style: none;
}
@media (max-width: 600px) {
  .interests {
    font-size: 20px;
  }
}

#languagesSection {
  margin-top: 20px;
  border: dotted 4px #d5b890;
  border-radius: 20px 0 20px 0;
  width: 100%;
  padding: 10px;
}
@media (max-width: 1200px) {
  #languagesSection {
    border: dotted 2px #783818;
  }
}
@media (max-width: 600px) {
  #languagesSection {
    width: 95%;
    border: dotted 2px #783818;
  }
}

.languages {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 0;
  font-family: "Merienda One", cursive;
}
@media (max-width: 600px) {
  .languages {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
