.introductionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#introduction {
  border: dotte$tertiary;
  border-radius: 20px 0 20px 0;
  width: 70%;
  margin-left: 0;
  text-align: center;
  margin-bottom: 20px;
  padding: 15px;

  @include mobile {
    width: 95%;
    border: dotted 2px $primary;
  }

  @include tablet {
    border: dotted 2px $secondary;
  }
}

#introTitle {
  margin: 0;
  font-family: $font-4;
  font-size: 30px;

  @include mobile {
    font-size: 35px;
  }
}

#talk {
  margin: 0;
  font-family: $font-4;
}

.mySkillsSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  @include mobile {
    flex-direction: column;
  }
}

#hardSkills {
  border: dotted 3px $primary;
  border-radius: 20px 0 20px 0;
  width: 60%;
  padding: 10px;
  display: flex;
  flex-direction: column;

  @include mobile {
    border: dotted 2px $secondary;
    margin-bottom: 20px;
    width: 95%;
  }

  @include tablet {
    border: dotted 2px $tertiary;
  }
}

#mySkills {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;

  @include mobile {
    flex-direction: column;
  }
}

#hardSkillsTitle,
#softSkillsTitle {
  font-size: 30px;
  margin: 0;
  text-align: center;
  font-family: $font-4;
  @include mobile {
    font-size: 35px;
  }
}

.titlesh4 {
  margin-bottom: 9px;
  font-family: $font-1;
  font-size: 23px;
  margin-top: 0px;

  @include mobile {
    font-size: 35px;
  }
}

#softSkills {
  border: dotted 3px $secondary;
  border-radius: 20px 0 20px 0;
  width: 25%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mobile {
    border: dotted 2px $tertiary;
    width: 95%;
    padding: 5px;
    margin-bottom: 20px;
  }

  @include tablet {
    border: dotted 2px $primary;
  }
}

.listMyHardSkills {
  font-size: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: $font-4;
  color: $complementary-color1;

  @include mobile {
    font-size: 20px;
  }
}

.listMySoftSkills {
  font-size: 15px;
  margin: 10px;
  list-style: none;
  padding: 0;
  font-family: $font-4;
  color: $complementary-color1;

  @include mobile {
    margin: 5px;
    font-size: 20px;
  }
}

#myProjectsSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
  width: 100%;

  @include mobile {
    margin-top: 0;
  }
}

#myProjects {
  border: dotted 3px $secondary;
  border-radius: 20px 0 20px 0;
  padding: 10px;
  width: 95%;

  @include mobile {
    border: dotted 2px $primary;
  }

  @include tablet {
    border: dotted 2px $tertiary;
  }
}

#projectBigTitle,
#careerBigTitle,
#interestsBigTitle,
#languagesBigTitle {
  font-family: $font-4;
  font-size: 30px;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;

  @include mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 35px;
  }
}

.explications {
  font-family: $font-4;
  margin: 0;
  font-size: 14px;

  @include mobile {
    font-size: 20px;
  }
}

//Projet 1
.projectsCards1,
.projectsCards3,
.projectsCards5 {
  background-color: $background-color1;
  border: dotted 3px $primary;
  border-radius: 20px 0 20px 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 100%;

  @include mobile {
    border: dotted 2px $tertiary;
    flex-direction: column;
  }

  @include tablet {
    border: dotted 2px $secondary;
  }
}

.projectsCards2,
.projectsCards4,
.projectsCards6 {
  background-color: $background-color1;
  border: dotted 3px $secondary;
  border-radius: 20px 0 20px 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  width: 100%;
  @include mobile {
    border: dotted 2px $tertiary;
    flex-direction: column;
  }

  @include tablet {
    border: dotted 2px $primary;
  }
}


.infosProjectCard1,
.infosProjectCard2,
.infosProjectCard3,
.infosProjectCard4,
.infosProjectCard5,
.infosProjectCard6 {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.projectTitle1,
.projectTitle2,
.projectTitle3,
.projectTitle4,
.projectTitle5,
.projectTitle6 {
  text-align: center;
  font-size: 25px;
  margin: 0;
  font-family: $font-1;

  @include mobile {
    font-size: 35px;
  }
}

.projectInfos1,
.projectInfos2,
.projectInfos3,
.projectInfos4,
.projectInfos5,
.projectInfos6 {
  font-family: $font-4;
  font-size: 14px;
  color: $complementary-color1;
  @include mobile {
    font-size: 20px;
  }
}

.imgProjectCard1,
.imgProjectCard2,
.imgProjectCard3,
.imgProjectCard4,
.imgProjectCard5,
.imgProjectCard6 {
  border: dotted 3px $tertiary;
  border-radius: 20px 0 20px 0;
  padding: 1px;
  width: 100%;
  @include mobile {
    border: dotted 2px $tertiary;
  }

  @include tablet {
    border: dotted 2px $tertiary;
  }
}

.imgProject1,
.imgProject2,
.imgProject3,
.imgProject4,
.imgProject5,
.imgProject6 {
  width: 100%;
  border-radius: 20px 0 20px 0;
}

.imgProject1:hover,
.imgProject3:hover,
.imgProject5:hover {
  transform: scale(1.4) translate(-20%, 0%);
  border: dotted 3px $secondary;

  @include tablet {
    transform: scale(1.5) translate(-34%, 7%);
    border: dotted 2px $secondary;
    width: 110%;
  }
  @include mobile {
    transform: scale(1.1) translate(0%, 7%);
    border: dotted 2px #783818;
    width: 100%;
    height: 200px;
  }

}

.imgProject2:hover,
.imgProject4:hover,
.imgProject6:hover {
  transform: scale(1.4) translate(-20%, 0%);
  border: dotted 3px $primary;
  
  @include tablet {
    transform: scale(1.5) translate(-34%, 7%);
    border: dotted 2px $primary;
    width: 110%;
  }
  @include mobile {
    transform: scale(1.1) translate(0%, 7%);
    border: dotted 2px #783818;
    width: 100%;
    height: 200px;
  }

}

.infosImg {
  text-align: center;
  font-family: $font-4;

  @include mobile {
    font-size: 18px;
  }
}

// Projet 2






//Projet 3


#laChouetteAgenceBefore {
  color: $primary;
  font-family: $font-4;
  font-size: 14px;

  @include mobile {
    font-size: 19px;
    margin-bottom: 10px;
  }
}


// Mon parcours
.bigSection {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  @include mobile {
    flex-direction: column;
    align-items: center;
  }
}

.smallSection {
  display: flex;
  flex-direction: column;

  @include mobile {
    align-items: center;
  }
}

#myCareerSection {
  margin-top: 20px;
  // margin-left: 30px;
  border: dotted 3px $tertiary;
  border-radius: 20px 0 20px 0;
  padding: 10px;
  width: 50%;

  @include mobile {
    width: 95%;
    border: dotted 2px $secondary;
  }

  @include tablet {
    border: dotted 2px $primary;
  }
}

#myCareer {
  display: flex;
  flex-direction: column;
}

.careerSmallTitle {
  margin: 0;
  font-family: $font-1;
  font-size: 25px;
  color: $primary;
  border: dotted 3px $secondary;
  border-radius: 20px 0 20px 0;
  padding: 3px;

  @include mobile {
    border: dotted 2px $tertiary;
  }

  @include tablet {
    border: dotted 2px $tertiary;
  }
}

.careerInfos {
  font-family: $font-4;
  font-size: 15px;

  @include mobile {
    font-size: 20px;
  }
}

// Mes centres d'intérêt

#myInterestsSection {
  margin-top: 20px;
  border: dotted 3px $primary;
  border-radius: 20px 0 20px 0;
  width: 100%;
  padding: 10px;

  @include mobile {
    width: 95%;
    border: dotted 2px $secondary;
  }

  @include tablet {
    border: dotted 2px $tertiary;
  }
}

.interests {
  margin: 0;
  font-family: $font-4;
  @include mobile {
    font-size: 20px;
  }
}

ol {
  padding: 0;
}

#languagesSection {
  margin-top: 20px;
  border: dotted 3px $secondary;
  border-radius: 20px 0 20px 0;
  width: 100%;
  padding: 10px;

  @include mobile {
    width: 95%;
    border: dotted 2px $primary;
  }

  @include tablet {
    border: dotted 2px $primary;
  }
}

.languages {
  padding: 0;
  text-align: center;
  margin: 0;
  font-family: $font-4;

  @include mobile {
    font-size: 20px;
  }
}
