.menuNavBar {
  height: 10rem;
  @include flex-row;
  align-items: center;
  justify-content: space-evenly;

  @include mobile {
    height: 26.5rem;
  }
}

.navBar {
  @include flex-row;
  align-items: center;
  @include mobile {
    width: 95%;
    justify-content: center;
  }
}

#menu {
  @include flex-row;
  padding-left: 0;
  margin: 0;
  list-style: none;
  align-items: center;
  flex-wrap: nowrap;
  @include mobile {
    flex-direction: column;
    width: 100%;
  }
}

.menuBubble {
  border: dotted 4px $primary;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 20px;
  cursor: pointer;

  @include mobile{
    border: dotted 2px $secondary;
  }
  
  @include tablet{
    border: dotted 2px $secondary;
  }

}

.menuBubble:hover,
.menuMiniBubble:hover {
  border: dotted 4px $tertiary;
  cursor: pointer;
  transform: scale(1.1);

  @include mobile{
    border: dotted 2px $tertiary;
  }

  @include tablet{
    border: dotted 2px $tertiary;
  }
}

.menuMiniBubble {
  border: dotted 4px $secondary;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 20px;

  @include mobile{
    border: dotted 2px $primary;
  }
  
  @include tablet{
    border: dotted 2px $primary;
  }
}

.menuLiens {
  @include flex-column;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}

.menuDetails {
  text-align: center;
  margin: 0;
  font-family: $font-4;
  color: $complementary-color1;
}

.menuParts {
  margin-right: 15px;
  @include flex-column;

  @include mobile {
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-right: 0;
  }
}
